body {
  background: #444;
  margin: 0;
  padding: 0;
}

.video-player {
  width: 100%;
}

.wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
